@model BlogApp.Models.WriterController.CreateWriterViewModel

<h1>Yazar Başvuru Sayfası</h1>
<hr />
<form asp-action="CreateWriter" asp-controller="Writer" method="post">
    <div asp-validation-summary="All" class="text-danger p-2"></div>

    <div class="row pb-2">
        <label asp-for="Name" class="col-md-3"></label>
        <div class="col-md-9">
            <input asp-for="Name" class="form-control" />
        </div>
    </div>

    <div class="row pb-2">
        <label asp-for="Description" class="col-md-3"></label>
        <div class="col-md-9">
            <input asp-for="Description" class="form-control" />
        </div>
    </div>

    <div class="row pb-2">
        <label asp-for="profileUrl" class="col-md-3"></label>
        <div class="col-md-9">
            <input asp-for="profileUrl" class="form-control" />
        </div>
    </div>

    <div class="row pb-2">
        <label asp-for="AppUserId" class="col-md-3"></label>
        <div class="col-md-9">
            <input asp-for="AppUserId" value="@ViewBag.localUserId" class="form-control" readonly />
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Yazarlığa başvur</button>
</form>