﻿
@{
    ViewData["Title"] = "AccessDenied";
}

<h1 style="">Bu Sayfaya erişiminiz <span style="font-weight:bolder;color:red">bulunMAMAktadır!!</span></h1>

<br />
    @if (ViewBag.Description is not null)
{
        <text>@ViewBag.Description</text>
}